<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bihotx</title>
    <!-- css bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap" rel="stylesheet">
    <!-- favicon pestaña  -->
    <link rel="shortcut icon" type="image/png" href="../img/favicon.gif" />

    <link rel="stylesheet" href="../css/general.css">
</head>

<body>

    <div class="pagina">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand " href="../index.html">
                    <span class="display-5" tabindex="1" alt="BIHOTX grupo musical"> BIHOTX</span>
                </a>
                <button class="navbar-toggler" alt="boton de menu" tabindex="2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse m-3" id="navbarNav">
                    <ul class="navbar-nav mx-auto w-100 d-flex justify-content-around">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html" tabindex="3"
                                alt="menu apartado biografia">Portada</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="biografia.html" tabindex="4"
                                alt="menu apartado biografia">Biografia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" tabindex="5" alt="menu apartado galeria" href="galeria.html">Galeria</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" tabindex="6" alt="menu apartado servicios"
                                href="servicios.html">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " tabindex="7" alt="menu apartado de contacto" href="contacto.html"
                                aria-disabled="true">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- fin navbar -->
        <div class="botones-navegacion">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end m-5">
                <a class="btn btn-outline-dark me-md-2" alt="enlace fotos de directo" tabindex="8" href="#directo" type="button">Directo</a>
                <a class="btn btn-outline-dark" alt="enlace fotos de las integrantes del grupo bihotx" tabindex="9" href="#estudio" type="button">Integrantes</a>
            </div>

        </div>

        <div class="tm-gallery" id="directo">
            <div class="row">
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a>
                        <div class="tm-gallery-item-overlay">
                            <img src="../img/directo/bihots-6.jpg" tabindex="10" alt="chica con sudadera roja usando un microfono" class="img-fluid tm-img-center">
                        </div>


                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a>
                        <div class="tm-gallery-item-overlay">
                            <img src="../img/directo/bihots-7.jpg" tabindex="11" alt="mujer agachada limpiando ropa" class="img-fluid tm-img-center">
                        </div>

                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a>
                        <div class="tm-gallery-item-overlay">
                            <img src="../img/directo/bihots-8.jpg" tabindex="12" alt="mujer agachada limpiando ropa" class="img-fluid tm-img-center">
                        </div>

                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a>
                        <div class="tm-gallery-item-overlay">
                            <img src="../img/directo/bihots-10.jpg" tabindex="13" alt="mujer con camiseta negra limpiando una prenda de ropa" class="img-fluid tm-img-center">
                        </div>

                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a>
                        <div class="tm-gallery-item-overlay">
                            <img src="../img/directo/bihots-19.jpg" tabindex="14" alt="dos mujeres con falda en un decorado cantando" class="img-fluid tm-img-center">
                        </div>

                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a>
                        <div class="tm-gallery-item-overlay">
                            <img src="../img/directo/bihots-24.jpg" tabindex="15" alt="mujer con camisa azul claro tocando una caja musical" class="img-fluid tm-img-center">
                        </div>

                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a>
                        <div class="tm-gallery-item-overlay">
                            <img src="../img/directo/bihots-28.jpg" tabindex="16" alt="las integrantes del grupo bihotx cantando un acancion con instrumentos" class="img-fluid tm-img-center">
                        </div>

                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a>
                        <div class="tm-gallery-item-overlay">
                            <img src="../img/directo/bihots-58.jpg" tabindex="17" alt="dos chicas una coon la guitarrra y otra con la caja musical" class="img-fluid tm-img-center">
                        </div>

                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a>
                        <div class="tm-gallery-item-overlay">
                            <img src="../img/directo/bihots-67.jpg" alt="tres chicas vestidas de calle cantando y tocando instrumentos" tabindex="18" class="img-fluid tm-img-center">
                        </div>

                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a>
                        <div class="tm-gallery-item-overlay">
                            <img src="../img/directo/bihots-71.jpg" tabindex="19" alt="una chica con camisa de flores cantando mientras toca la guitarra" class="img-fluid tm-img-center">
                        </div>

                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a>
                        <div class="tm-gallery-item-overlay">
                            <img src="../img/directo/bihots-82.jpg" tabindex="20" alt="una chica tocando la guitarra electrica" class="img-fluid tm-img-center">
                        </div>

                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a>
                        <div class="tm-gallery-item-overlay">
                            <img src="../img/directo/bihots-95.jpg" tabindex="21" alt="tres chicas con peluca de colores tocando la txaparta a alavez" class="img-fluid tm-img-center">
                        </div>

                    </a>
                </figure>
            </div>
        </div>

        <div class="tm-gallery" id="estudio">
            <div class="row">
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a>
                        <div class="tm-gallery-item-overlay">
                            <img src="../img/estudio/_DSC5804.jpg" tabindex="22" alt="retrado de una mujer" class="img-fluid tm-img-center">
                        </div>


                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a>
                        <div class="tm-gallery-item-overlay">
                            <img src="../img/estudio/_DSC5812.jpg" tabindex="23" alt="retrato de un amujer" class="img-fluid tm-img-center">
                        </div>

                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a>
                        <div class="tm-gallery-item-overlay">
                            <img src="../img/estudio/_DSC5838.jpg" tabindex="24" alt="Image" class="img-fluid tm-img-center">
                        </div>

                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a>
                        <div class="tm-gallery-item-overlay">
                            <img src="../img/estudio/_DSC5860.jpg" tabindex="25" alt="Image" class="img-fluid tm-img-center">
                        </div>

                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a>
                        <div class="tm-gallery-item-overlay">
                            <img src="../img/estudio/_DSC5887.jpg" tabindex="26" alt="Image" class="img-fluid tm-img-center">
                        </div>

                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a>
                        <div class="tm-gallery-item-overlay">
                            <img src="../img/estudio/_DSC5903.jpg" tabindex="27" alt="Image" class="img-fluid tm-img-center">
                        </div>

                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a>
                        <div class="tm-gallery-item-overlay">
                            <img src="../img/estudio/_DSC5924.jpg" tabindex="28" alt="Image" class="img-fluid tm-img-center">
                        </div>

                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a>
                        <div class="tm-gallery-item-overlay">
                            <img src="../img/estudio/_DSC5943.jpg" tabindex="29" alt="Image" class="img-fluid tm-img-center">
                        </div>

                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a>
                        <div class="tm-gallery-item-overlay">
                            <img src="../img/estudio/_DSC5962.jpg" tabindex="30" alt="Image" class="img-fluid tm-img-center">
                        </div>

                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a>
                        <div class="tm-gallery-item-overlay">
                            <img src="../img/estudio/_DSC5968.jpg" tabindex="31" alt="Image" class="img-fluid tm-img-center">
                        </div>

                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a>
                        <div class="tm-gallery-item-overlay">
                            <img src="../img/estudio/_DSC6017.jpg" tabindex="32" alt="Image" class="img-fluid tm-img-center">
                        </div>

                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a>
                        <div class="tm-gallery-item-overlay">
                            <img src="../img/estudio/_DSC6023.jpg" tabindex="33" alt="Image" class="img-fluid tm-img-center">
                        </div>

                    </a>
                </figure>
            </div>
        </div>


        <footer class="bg-light text-center text-lg-start">
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                © 2020 Copyright:
                <a class="text-dark" target="_blank" tabindex="34" alt="enlace al canal de youtube del grupo hihotx"
                    href="https://www.youtube.com/channel/UCTuM7S3iwiFb_yhhYcSBVBg">Youtube</a>
    
            </div>
            <!-- Copyright -->
        </footer>
        <!-- js bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
</body>

</html>